# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Whatever
*~
#*#
*.out
*Demo
frame*.png
temp*.dat
image*.fits

# Mac Files
.DS_Store
