SUBSYSTEM=="net", ATTR{address}=="00:20:9d:23:5c:9e", NAME="sbc"
SUBSYSTEM=="net", ATTR{address}=="00:01:45:05:0e:06", NAME="j1"
SUBSYSTEM=="net", ATTR{address}=="00:01:45:05:0e:05", NAME="j6"
